<!DOCTYPE html>
<html ng-app="app" lang="<%= htmlWebpackPlugin.options.lang %>">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <base href="/">
</head>
<body>
<div class="container">
    <ui-view></ui-view>
</div>
</body>
</html>
